body {
  margin: 0;
}
header {
  margin: 0;
  padding: 0;
}
.top-bar {
  margin: 0;
}

.hero {
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: flex-start; /* align to left */
  /* background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/hero-img-two.avif); */
  background: url(../img/hero-img-two.avif);
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 100%;
  color: white; /* default text color for contrast */
}

.hero-content {
  margin-left: 5%;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.btn-consultation, .btn-hero-contact {
  color: white;
}

.btn-consultation{
  background-color: rgba(255, 166, 0);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-hero-contact{

  background-color: rgba(255, 166, 0);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-consultation:hover,
.btn-hero-contact:hover {
  background-color: rgba(255, 166, 0, 0.8); /* slightly darker or more transparent if you like */
  cursor: pointer;
}

/*
  FROM BOOTSTRAP DOCS - CAROUSEL CSS FOR MAIN
*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /* padding-top: 3rem;
  padding-bottom: 3rem; */
  color: rgb(var(--bs-tertiary-color-rgb));
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
} 
.featurette-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}


/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
