/* Reset margin for body and header */
body {
  margin: 0;
  color: rgb(var(--bs-tertiary-color-rgb));
}
header {
  margin: 0;
  padding: 0;
}
.top-bar {
  margin: 0;
}

/* Carousel adjustments */
.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  /* This was matching bootstrap example height, but we 
      need more height for aesthetic purposes */
  /* height: 32rem;  */

  /* Need to play around with this to get uniform and clean */
  height: 45rem;

}
.carousel-caption h1 {
  font-size: 3rem; /* Slightly smaller heading */
}
.carousel-caption p {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.carousel-caption p {
  font-size: 1.5rem; /* bigger paragraph */
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

/* Marketing Content */
.marketing .col-lg-4 {
  margin-bottom: 2rem;
  text-align: center;
  /* padding: 0 1rem; */
}
.marketing .col-lg-4 p {
  /* margin-right: 1rem;
  margin-left: 1rem; */
  font-size: 1.1rem;
}

/* Featurettes */
.featurette-divider {
  margin: 5rem 0; /* Space out hr more */
}

.featurette-heading {
  letter-spacing: -0.05rem;
  font-size: 3rem;
  margin-top: 4rem;
  font-weight: 500;
}

.featurette-img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

/* Responsive adjustments */
@media (min-width: 40em) {
  .carousel-caption p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 3.5rem;
    margin-top: 5rem;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
